@import './base.css';

#app {
  max-width: 100%;
  
  margin: 0 auto;
  font-weight: normal;
  
}

a,
.green {
  text-decoration: none;
  color: rgb(8, 8, 8);
  
}


/*響應式(最小螢幕)應該
/*@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;

  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}*/
